.tiny_coffee a {
  color:#2b2b2b;
  font-weight: bold;
  text-decoration: none;
}

.tiny_coffee a:hover {
  text-decoration: underline;
}

.tiny_coffee_widget .noUi-horizontal {
  height:10px;
}

.tiny_coffee_widget .noUi-handle {
  width: 24px;
  height: 16px;
  left: -12px;
  top: -4px;
}

.tiny_coffee_widget .noUi-handle:before{
  height:8px;
  top:3px;
  left: 9px;
}
.tiny_coffee_widget .noUi-handle:after{
  height:8px;
  top:3px;
  left: 12px;
}


.tiny_coffee .right {
  float:right;
  margin-top: 0px;
}

.tiny_coffee_widget .right{
  float:none;
  text-align: right;
  margin-bottom: 10px;
}
.tiny_coffee .count2 {
  font-size:24px;
  font-weight:bold;
  min-width:60px;
  display: inline-block;
  text-align: right;
  color: #009A31;
}

.tiny_coffee .tiny_coffee_slider {
  margin-bottom: 20px;
}
.tiny_coffee_widget .tiny_coffee_slider {
  margin-bottom: 5px;
}
.tiny_coffee .count {
  font-size:28px;
}

.tiny_coffee .tiny_coffee_form button {
  background-color: #2b2b2b;/*#242628;  */
  color:#ffffff;
  font-size:18px;
  line-height:30px;
  padding-top:5px;
  padding-bottom:5px;
  border:none;
  border-radius:2px;
}

.tiny_coffee .tiny_coffee_form button:hover{
  background-color: #009A31;
}
.tiny_coffee_widget .right *{
  font-size:inherit;
}

.tiny_coffee_widget .right .count2 {
  min-width: 0px;
}

.widget .tiny_coffee_widget button {
  padding-left:30px;
  padding-right:30px;
  margin:0px auto;
  display: block;
}

.tiny_coffee {
  margin-bottom: 24px;
}

#modal-container {
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 1040;
  pointer-events: none;
  -webkit-transition: all 0.15s linear 0s;
  -moz-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

#modal-container .fade {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear 0s;
  -moz-transition: opacity 0.2s linear 0s;
  transition: opacity 0.2s linear 0s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }
  #modal-container .fade.in {
    opacity: 1; }

.modal-background {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1030; }

#modal-container .modal-info,#modal-container  .modal-action,#modal-container  .modal {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  left: 50%;
  right: auto;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 30px;
  z-index: 1050;
  pointer-events: auto; }
  @media (max-width: 800px), (max-width: 800px) {
    #modal-container .modal-info,#modal-container  .modal-action,#modal-container  .modal {
      width: auto;
      padding: 10px; } }
  #modal-container .modal-info button,#modal-container  .modal-action button,#modal-container  .modal button {
    min-width: 100px; }
  @media (max-width: 800px), (max-width: 800px) {
    #modal-container .modal-info,#modal-container  .modal-action, #modal-container .modal {
      width: 100%;
      margin-left: 0; } }

#modal-container .modal-action {
  padding: 60px 0 30px; }
  @media (max-width: 800px), (max-width: 800px) {
    #modal-container .modal-action {
      padding: 30px 0; } }

#modal-container .modal-content {
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
  position: relative;
  padding: 20px;
  background-clip: padding-box;
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 6px; }
  #modal-container .modal-content .coffee_close .hidden {
    display: none;
  }
  #modal-container .modal-content .coffee_close {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 16px;
    min-height: 16px;
    padding: 0;
    margin: 0;
    border: none;
    z-index: 9999;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear; 
    color:#2b2b2b;
  }
    #modal-container .modal-content .close:hover {
      text-decoration: none; }
    #modal-container .modal-content .close:hover {
      color: #242628; }

#modal-container .modal-header {
  position: relative;
  padding: 20px;}
  #modal-container .modal-header h1 {
    display: inline-block;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold; }

#modal-container .modal-body {
  position: relative;
  min-height: 100px;
  overflow-y: auto; }
    #modal-container .tiny_coffee_text {
      border-top: 1px solid #edece4;
      padding-top: 10px; }
#modal-container .modal-footer {
  margin-top: 20px; }

#modal-container .modal-style-wide {
  width: 550px;
  max-width: 90%;
  margin: 0 auto; }
  @media (max-width: 800px), (max-width: 800px) {
    .modal-style-wide {
      width: 100%; } }

#modal-container .modal-style-centered {
  text-align: center; }

#modal-container .tiny_coffee_slider {
  margin-left:20px;
  margin-right:20px;
  margin-top: 5px;
}

#modal-container .note {
  margin-left:20px;
  margin-right:20px;
  margin-top: 10px;  
}

#modal-container .right {
  margin-right:20px;
}

#modal-container form {
  margin-left:20px;
}
